.jumbotron {
    width: 40vw;
    text-align: center;
    margin-top: 2.5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5vh;
}
.form-control {
    margin-bottom: 1vh;
}
.selecionado {
    background: rgba(209, 209, 5, 0.548);
}