<div class="main-header">
    <div class="content-bg-wrap bg-birthday"></div>
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                <div class="main-header-content">
                    <h1>Aniversariantes</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Hoje</h6>
                </div>
            </div>
        </div>
        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar7-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Marina Valentine </a>
                        <div class="birthday-date">January 16th, 1989</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar20-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Michael Maximoff</a>
                        <div class="birthday-date">January 24th, 1972</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar21-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Rachel Howlett</a>
                        <div class="birthday-date">February 4th, 1992</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar4-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Chris Greyson</a>
                        <div class="birthday-date">February 7th, 1988</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar22-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Dave Marinara</a>
                        <div class="birthday-date">February 12th, 1980</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar23-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Jessica Stevens</a>
                        <div class="birthday-date">February 18th, 1986</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar1-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Mathilda Brinker</a>
                        <div class="birthday-date">February 23rd, 1988</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar2-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Nicholas Grissom</a>
                        <div class="birthday-date">February 27th, 1990</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Mês atual</h6>
                </div>
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar10-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Elaine Dreyfuss</a>
                        <div class="birthday-date">March 1st, 1984</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar67-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Carol Summers</a>
                        <div class="birthday-date">March 1st, 1991</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar24-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Luke Scarred</a>
                        <div class="birthday-date">March 6th, 1988</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar26-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Marina Polson</a>
                        <div class="birthday-date">March 13th, 1984</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar32-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Lindsay Jeffson</a>
                        <div class="birthday-date">July 5th, 1990</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar33-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Mary Jane Stark</a>
                        <div class="birthday-date">July 8th, 1987</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar34-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Mark Taylor</a>
                        <div class="birthday-date">September 14th, 1987</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar35-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Tony Stevens</a>
                        <div class="birthday-date">September 20th, 1984</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>

        <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- Birthday Item -->

                <div class="birthday-item inline-items">
                    <div class="author-thumb">
                        <img
                            src="/VP_NET/resources/js/app/libs/img/avatar36-sm.jpg"
                            alt="author"
                        />
                    </div>
                    <div class="birthday-author-name">
                        <a href="#" class="h6 author-name">Ann Marie Gibson</a>
                        <div class="birthday-date">September 22nd, 1988</div>
                    </div>
                </div>

                <!-- ... end Birthday Item -->
            </div>
        </div>
    </div>
</div>
